<div class="top-page">
  <h1 class="font-weight-bold">あんしんキッズ</h1>
  <h4 class="font-weight-bold">病児保育ネット予約サービス</h4>
  <p>あんしんキッズは予約手続きをオンライン化することで保護者と事務担当者の負担を軽減します。</p> 
<div class="jumbotron">
</div>
<%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
