<div class="jumbotron">
  <div class="container">
    <h1>あんしんキッズ</h1>
    <p>病児保育ネット予約サービス</p>
    <p>あんしんキッズは煩雑な予約手続きをオンライン化することで保護者と事務担当者の負担を軽減します。</p> 
    <p>そして安心して子育てできる社会に貢献します。</p>
  </div>
</div>
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
