<div class="top-page">
  <div class="container-fluid text-center">
    <%= image_tag 'logo.png', width: "700", class: "logo" %>
    <h4 class="font-weight-bold">病児保育施設ネット予約サービス</h4>
    <p>あんしんキッズは予約をオンライン化することで保護者と行政の事務担当者の負担を軽減します。</p> 
    <%= image_tag 'children.png', width: "700", class: "top-image" %>
  </div>
  <% unless user_signed_in? %>
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
