<div class="top-page">
  <div class="container-fluid bg-1 text-center">
    <%= image_tag 'logo.png' %>
  </div>
  <h4 class="font-weight-bold">病児保育施設ネット予約サービス</h4>
  <p>あんしんキッズは予約をオンライン化することで保護者と行政の事務担当者の負担を軽減します。</p> 
  <div class="jumbotron">
  </div>
  <% unless user_signed_in? %>
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
