<h1>マイページ</h1>
<button type="button" class = "btn"><%= link_to "予約一覧へ", reservations_path %></button>
<button type="button" class = "btn"><%= link_to "お子様情報追加", new_child_path %></button>
<br><br><br>
<p>メールアドレス:<%=@user.email %></p>
