<div class="container">
  <p class="font-weight-bold">アカウント情報</p>
  <%= render 'shared/flash_messages' %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">メールアドレス</h5>
      <p><%=@user.email %></p>
      <div class="card-text">
      <p><%=@user.user_type %></p>
    <p><%= link_to t('view.edit'), edit_user_registration_path, class: "btn btn-outline-danger " %></p>
  </div>
</div>
