<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %><%= ' flash-notice--long-sentence' if msg.include?('<br>') %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg.html_safe %>
  </div>
<% end %>
