<h2>連絡先情報編集</h2>
<%= render 'form' %>
<%= link_to "お子様情報編集へ", edit_child_path %>
<%= link_to "予約申込みへ", reservations_path %>
<% if current_user.admin? %><br>
  <%= link_to "管理者画面にもどる", admin_users_path %>
<% end %>
