@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  background-color: 	#FAF9F7;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.top-page {
  margin-top: 1rem;
  margin-bottom: 2rem;

  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
}

.container {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.face-photo img{
  height: 80px;
  width: auto;
}

.card {
  margin: 2rem;
  // background-color: 	#E8F5FC;
  a:link {color: #000000; text-decoration:none }
  a:visited { color: #000000; text-decoration:none }
  a:hover { color: #000000; text-decoration:none }
  a:active { color: #000000; text-decoration:none }
}

span.badge {
  font-size: 0.8rem;
}

.logo {
    max-width: 100%;
    height: auto;
}

// .top-image {
//   max-width: 100%;
//   height: auto;
//   margin-bottom: 1.5rem;
// }
