@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.jumbotron {
  position: relative;
  height: 40vh;
  background: image-url("children2.jpeg") no-repeat center center;
  background-size: contain;
}

.container {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
