@import "bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.jumbotron {
  background-image: image-url("children.gif");
  background-size: cover;
  background-repeat: center no-repeat;
  .container {
    margin-top: 6rem;
    h1,
    p {
      margin-bottom: 0.75rem;
    }
    h1 {
      margin-bottom: 1.5rem;
    }
    p:last-of-type {
      margin-bottom: 2rem;
    }
  }
}
